.my-menu {
  padding-top: 50px;
  width: 300px;
  float: left;
  background-color: rgba(0,0,0,.03);
  height: 100vh;
}

.my-menu-header {
  text-align: center;
  color: #0049b0;
  padding-bottom: 3rem;
}

.my-menu-item {
  padding-top: 1rem;
  padding-left: 3rem;
  padding-bottom: 1rem;
  text-decoration: none;
  color: #64718a;
}

.my-menu-item:hover {
  color: #0049b0;
  background-color: #e5e8ec;
}
