@font-face {
  font-family: "Fredoka";
  src: url("../../static/FredokaOne-Regular.ttf") format("truetype");
  font-weight: normal;
}

.my-menu {
  padding-top: 50px;
  width: 300px;
  float: left;
  background-color: rgba(0, 0, 0, 0.03);
  height: 100vh;
}

.my-menu-header {
  text-align: left;
  color: rgb(255, 99, 132);
  font-family: "Fredoka";
  padding-bottom: 2rem;
  padding-left: 3rem;
}

.my-menu-item {
  padding-top: 1rem;
  padding-left: 3rem;
  padding-bottom: 1rem;
  text-decoration: none;
  color: #64718a;
}

.my-menu-item:hover {
  color: #3080d0;
  background-color: #e5e8ec;
}
